<div class="card" [ngStyle]="{'background-image': 'url(' + imagePath + ')'}">
    <img src={{posterPath}} />
    <div class="container">
        <div class="infoDiv">
            <h3  [align]="'center'">{{movie.title}}</h3>
            <div class="infoHeader">
                {{movie.release_date}}
                <div class="genres">
                    <div *ngFor="let genre of movieGenres, let i=index">
                        <div *ngIf="i<movieGenres.length-1; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>{{genre.name + "/"}}</ng-template>
                            <ng-template #elseBlock>{{genre.name}}</ng-template>
                    </div>
                </div>
            </div>
            <div class="overview">
                {{movie.overview}}
            </div>
        </div>
        <div class="footer">
            <button [routerLink]="['/movies/',movie.id]" class="button">View more...</button>
            {{movie.vote_average}}
            <fa-icon [ngStyle]="{'color': 'yellow'}" [icon]="iconStar"></fa-icon>
        </div>
    </div>
</div>
